# Python cache
__pycache__/
*.pyc

# Virtual environment
fr_env/
venv/
env/

# Model files (optional)
model/*.yml
model/*.pkl

# IDE files
.vscode/
.DS_Store

# Attendance records
attendance/*.csv

attendance.db
*.db

__pycache__/
.DS_Store
